@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: url('../public/img/bg.jpg');
}

.style-scroll::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.style-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: transparent;
}

.style-scroll::-webkit-scrollbar-thumb {
  background-color: #838383;
  border-radius: 999px;
}